.link-icon {
    height: 50px;
    width: 50px;
}

.delete-icon{
    height: 50px;
    width: 50px;
}

.spacer{
    height:2px;
    width: 85%;
}

.linka {
    color: black;  
}

.linka:hover {
    color: gray;
    text-decoration: none
}